@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #13ec5b;
  --color-background-dark: #102216;
  --color-surface-dark: #162e1e;
  --color-surface-highlight: #23482f;
}

@layer base {
  body {
    @apply bg-[#f6f8f6] dark:bg-background-dark text-slate-900 dark:text-white antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
